.NavbarContainer {
  height: 4rem;
  display: flex;
  /* flex-wrap: wrap; */
  justify-content: space-between;
  /* background-color: blueviolet; */
  padding: 0 1rem 0 1rem;
}

.menuIcon {
  display: none;
}

.menuIcon button {
  background-color: #000;
  border: none;
  color: #b3bc00;
}
.logoContainer {
  width: auto;
}

.logoContainer img {
  padding-top: 10px;
  height: 3rem;
  width: 10rem;
}
.searchContainer {
  /* background-color: blue; */
  width: 25rem;
  display: flex;
}
.linksContainer {
  background-color: chartreuse;
  width: 10rem;
}

.mobileSearch {
  display: none;
}

@media only screen and (max-width: 768px) {
  .NavbarContainer {
    display: flex;
    width: auto;
    justify-content: space-between;
    align-items: center;
  }

  .menuIcon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2rem;
    height: 2rem;
    color: #b3bc00;
  }

  .mobileSearch {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2rem;
    height: 2rem;
  }
  .mobileSearch button {
    color: #b3bc00;
    background-color: #000;
    border-radius: 2rem;
    border: none;
  }

  .searchContainer {
    display: none; /* Add some space between logo and search on smaller screens */
  }

  .linksContainer {
    display: none;
  }
}
