.NavbarContainer {
  height: 4rem;
  display: flex;
  /* flex-wrap: wrap; */
  justify-content: space-between;
  /* background-color: blueviolet; */
  padding: 0 1rem 0 1rem;
}

.menuIcon {
  display: none;
}

.menuIcon button {
  background-color: #000;
  border: none;
  color: #dde819;
}
.logoContainer {
  width: auto;
}

.logoContainer img {
  padding-top: 10px;
  height: 3rem;
  width: 10rem;
}
.searchContainer {
  /* background-color: blue; */
  width: 30rem;
  display: flex;
  position: absolute;
  left: 40%;
  top: 1%;
}
.linksContainer {
  color: #dde819;
  width: 20rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.loginButton {
  height: 2rem;
  font-size: 1rem;
  background-color: #000;
  color: #dde819;
  border: 2px solid #dde819;
  border-radius: 1rem;
  width: 6rem;
  cursor: pointer;
}

.loginButton:active {
  background-color: #3b3b3b;
}

.mobileSearch {
  display: none;
}

@media only screen and (max-width: 768px) {
  .NavbarContainer {
    display: flex;
    width: auto;
    justify-content: space-between;
    align-items: center;
  }

  .menuIcon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2rem;
    height: 2rem;
    color: #dde819;
  }

  .mobileSearch {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2rem;
    height: 2rem;
  }
  .mobileSearch button {
    color: #dde819;
    background-color: #000;
    border-radius: 2rem;
    border: none;
  }

  .searchContainer {
    display: none; /* Add some space between logo and search on smaller screens */
  }

  .linksContainer {
    display: none;
  }
}
